<dl class="flex flex-wrap">
  <dt
    *ngIf="allEnabled"
    [class.border-b-8]="type === null"
    (click)="typeClick.emit(null)"
    class="h-12 bg-white flex items-center p-2 shadow-xl rounded-xl border-gray-900 mr-4 mb-4"
  >
    <a>ALL</a>
  </dt>
  <dt
    *ngFor="let availableType of types"
    [class.border-b-8]="availableType === type"
    (click)="typeClick.emit(availableType)"
    class="h-12 bg-white flex items-center p-2 shadow-lg rounded-lg border-gray-900 mr-4 mb-4"
  >
    <a>{{ availableType | titlecase }}</a>
  </dt>
</dl>
