<form *ngIf="form" [formGroup]="form" (ngSubmit)="login.emit()" class="flex flex-col">
  <app-input ngDefaultControl placeholder="Username" [formControl]="form.get('username')"></app-input>
  <app-input ngDefaultControl placeholder="Password" [formControl]="form.get('password')" type="password"></app-input>
  <div class="mb-4 flex justify-between">
    <app-checkbox label="Remember"></app-checkbox>
    <a class="is-accent has-text-sm">Forgot password?</a>
  </div>
  <app-button text="Sign in" type="submit" theme="primary"></app-button>
  <div *ngFor="let socialNetworkProvider of socialLoginNetworkTypesList" class="has-margin-bottom-sm">
    <app-button
      icon="{{ socialNetworkProvider }}"
      theme="secondary"
      (click)="socialLogin.emit(socialNetworkProvider)"
      [text]="'Sign in with ' + socialNetworkProvider"
    ></app-button>
  </div>
</form>
