<form [formGroup]="form" (ngSubmit)="registration.emit()" autocomplete="off" class="flex flex-col">
  <div class="has-margin-bottom-md">
    <app-input ngDefaultControl placeholder="Username" label="Username" [formControl]="form.get('username')" autocomplete="off"></app-input>
  </div>
  <app-input
    ngDefaultControl
    placeholder="Password"
    label="Password"
    [formControl]="form.get('password')"
    type="password"
    autocomplete="new-password"
  ></app-input>
  <app-input
    ngDefaultControl
    placeholder="Repeat password"
    label="Repeat password"
    [formControl]="form.get('passwordRepeat')"
    type="password"
    autocomplete="new-password"
  ></app-input>
  <app-button text="Register" type="submit"></app-button>
</form>
