<div *ngFor="let cron of cronList; let last = last" [class.has-margin-bottom-md]="!last">
  <app-media-card [title]="cron.content" [subtitle]="cron.postOn | date" [source]="cron.imageUrl"></app-media-card>
</div>
