<div class="relative">
  <div class="corner-element">
    <app-help [modalOptions]="helpOptions"></app-help>
  </div>
  <div class="flex justify-center text-2xl my-8">
    Collection Create
  </div>
  <app-collection-form [form]="form" (collectionSubmit)="onSubmit()" (cancel)="onCancel()"></app-collection-form>
</div>
