<button
  [type]="type"
  [ngClass]="theme === 'primary' ? '__primary' : '__secondary'"
  [disabled]="disabled"
  class="min-w-full bg-white flex items-center justify-center my-2 h-12 uppercase shadow-lg rounded-lg"
>
  <ng-container *ngIf="icon">
    <div class="mr-2">
      <app-icon [icon]="icon" *ngIf="icon"></app-icon>
    </div>
  </ng-container>
  <span>
    {{ text }}
  </span>
</button>
