<div class="bg-red-50 w-full h-full">
  <div class="text-2xl flex justify-center py-8">
    {{ helpInformation.title }}
  </div>
  <div class="corner-element pr-4 pt-4">
    <app-icon icon="close" (click)="onCloseClick()"></app-icon>
  </div>
  <div class="px-4">
    {{ helpInformation.description }}
    <ng-container *ngIf="helpInformation.iframeSrc">
      <iframe class="is-full-height flex flex-col has-full-container-height" [src]="helpInformation.iframeSrc"></iframe>
    </ng-container>
  </div>
</div>
