<label class="switch">
  <input type="checkbox" [class.checked]="enabled" [value]="enabled" [(ngModel)]="enabled" (ngModelChange)="enabledChange.emit($event)" />
  <span class="slider round"></span>
</label>
