<ng-container *ngIf="collection?.name; else mainLogo">
  <span class="break-all text-xl flex justify-center">
    {{ collection.name | titlecase }}
  </span>
</ng-container>

<ng-template #mainLogo>
  <div class="card has-padding-md flex justify-center">
    <app-image size="rectangle-96" source="assets/logo.png"></app-image>
  </div>
</ng-template>
