<span [class.has-margin-right-sm]="!label" class="flex justify-center items-center">
  <ion-checkbox mode="ios" [(ngModel)]="enabled"></ion-checkbox>
  <span *ngIf="label" class="ml-2">
    <ion-label>{{ label }}</ion-label>
  </span>
</span>
