<div
  *ngFor="let collection of collectionList; let enabled"
  (click)="collectionSelect.emit(collection)"
  class="mb-4 bg-white rounded-lg h-12 flex justify-between items-center px-2 shadow-xl"
>
  <div class="flex items-center">
    <div class="mr-2">
      <app-icon [icon]="collection?._id === currentCollection?._id ? 'selectedCollection' : 'notSelectedCollection'"></app-icon>
    </div>
    <div class="flex items-center">
      <span class="has-text-bold">{{ collection.name.toUpperCase() }}</span>
    </div>
  </div>
  <span>Social Units: {{ collection?.socialUnitList?.length }}</span>
</div>
