<div class="flex flex-col">
  <div class="corner-element">
    <app-help [modalOptions]="helpOptions"></app-help>
  </div>
  <div class="flex justify-center text-2xl my-8">
    Scheduled Posts
  </div>
  <app-tabs [types]="cronTypeList" [type]="cronListType | async" (typeClick)="onCronListTypeSwitch($event)" [allEnabled]="false">
  </app-tabs>
  <div class="card-content has-padding-md">
    <app-cron-list [cronList]="(cronListPayload$ | async).cronList"></app-cron-list>
  </div>
</div>
