<div class="w-100 relative">
  <div class="corner-element">
    <app-help [modalOptions]="helpOptions"></app-help>
  </div>
  <div class="text-2xl text-center py-8">
    Statistics of Social Networks Social Units
  </div>
  <app-statistics-tabs
    [statistics]="statistics$ | async"
    [statisticsCategory]="category$ | async"
    (statisticsCategorySwitch)="onStatisticsCategorySwitch($event)"
  >
  </app-statistics-tabs>
</div>
