<div class="min-w-screen min-h-screen bg-red-50">
  <div class="flex flex-col justify-center lg:flex-row pb-12 md:pb-0">
    <div *ngIf="sideBarsState.menu" class="min-h-screen hidden lg:block">
      <app-menu-sidebar
        [collection]="collection$ | async"
        [menu]="menu$ | async"
        [activeMenuItemUrl]="activeMenuItemUrl"
        (toggleClick)="sideBarToggle('menu')"
        (logoutClick)="logout()"
      ></app-menu-sidebar>
    </div>
    <div class="w-full relative p-4 pt-0 bg-opacity-75">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="lg:hidden" *ngIf="collection$ | async as collection">
  <app-menu-mobile
    [collection]="collection"
    [menu]="menu$ | async"
    [activeMenuItemUrl]="activeMenuItemUrl"
    (toggleClick)="sideBarToggle('menu')"
    (logoutClick)="logout()"
  ></app-menu-mobile>
</div>
