<div class="relative">
  <div class="corner-element">
    <app-help [modalOptions]="helpOptions"></app-help>
  </div>
  <div class="text-2xl py-8 text-center">
    Collection Select
  </div>
  <div *ngIf="(collection$ | async) === null" class="is-primary has-text-md has-text-bold has-margin-bottom-md mb-4">
    Select Collection to Continue
  </div>
  <app-collection-list
    [currentCollection]="collection$ | async"
    [collectionList]="collectionList$ | async"
    (collectionCreateButtonClick)="onCollectionCreateButtonClick()"
    (collectionSelect)="onCollectionSelect($event)"
  ></app-collection-list>
  <app-button (click)="onCollectionCreateButtonClick()" text="Create New Collection"></app-button>
</div>
