<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitEvent.emit()" class="flex flex-col">
  <app-textarea
    ngDefaultControl
    [placeholder]="contentPlaceholderByCronPostType[cronPostType]"
    label="Content"
    [formControl]="form.get('content')"
  ></app-textarea>
  <app-input
    *ngIf="cronPostType === availableCronPostType.LINK"
    ngDefaultControl
    placeholder="Link to website"
    label="Link"
    [formControl]="form.get('linkUrl')"
  ></app-input>
  <app-image-finder
    *ngIf="cronPostType === availableCronPostType.IMAGE"
    [image]="image"
    (imageSearch)="imageSearch.emit($event)"
    (imageUploadSelect)="imageUploadSelect.emit($event)"
    (imageClear)="imageClear.emit()"
    (imageUrlInput)="imageUrlInput.emit($event)"
  ></app-image-finder>
  <app-date-time-picker ngDefaultControl label="postOn" [formControl]="form.get('postOn')"></app-date-time-picker>
  <app-button text="SUBMIT" type="submit"></app-button>
</form>
