<form *ngIf="form" [formGroup]="form" (ngSubmit)="collectionSubmit.emit()" class="flex flex-col">
  <app-input ngDefaultControl placeholder="Collection name" [formControl]="form.get('name')"></app-input>
  <app-button type="submit" text="Submit"></app-button>
  <app-button type="button" text="cancel" (click)="cancel.emit()" theme="secondary"></app-button>
</form>
