<div *ngIf="(upcomingCronList$ | async).length" class="is-primary has-margin-bottom-md has-text-sm has-text-bold">
  UPCOMING POSTS
</div>

<app-upcoming-cron-list [upcomingCronList]="upcomingCronList$ | async"></app-upcoming-cron-list>
