<ion-item mode="ios" class="shadow-xl rounded-xl mb-4">
  <ion-label class="is-accent" mode="ios">{{ label }}</ion-label>
  <ng-container *ngIf="formControl; else withoutFormControl">
    <ion-select [formControl]="formControl" interface="popover">
      <ion-select-option [value]="option" *ngFor="let option of options">{{ option | titlecase }}</ion-select-option>
    </ion-select>
  </ng-container>
  <ng-template #withoutFormControl>
    <ion-select [value]="label" (ionChange)="onValueChanges($event)" interface="popover">
      <ion-select-option [value]="option" *ngFor="let option of options">{{ option | titlecase }}</ion-select-option>
    </ion-select>
  </ng-template>
</ion-item>
