<div class="bg-white dark:bg-gray-900 w-full h-auto py-1 flex justify-around fixed bottom-0 z-40 dark:border-white">
  <div
    *ngFor="let menuItem of menu"
    [routerLink]="menuItem.link"
    class="flex flex-col flex-grow items-center mx-4 border-gray-900"
    (click)="toggleClick.emit()"
    [class.border-b-8]="menuItem.link === activeMenuItemUrl"
  >
    <app-icon [icon]="menuItem.icon"></app-icon>
    <span class="text-xs">
      {{ menuItem.displayName }}
    </span>
  </div>
</div>
