<app-tabs [type]="socialUnitSocialNetworkType" [types]="socialUnitsSocialNetworksList" (typeClick)="onSocialNetworkSwitch($event)">
</app-tabs>
<div
  *ngFor="let socialUnit of collectionSocialUnitList; let index = index"
  class="mb-4 w-100 bg-white rounded-xl shadow-xl h-12 flex items-center p-2"
>
  <app-checkbox class="mr-2" [enabled]="socialUnit.enabled"></app-checkbox>
  <span>{{ socialUnit.name }}</span>
</div>
