<div class="flex flex-col md:grid md:grid-cols-2 md:gap-4">
  <div class="relative mb-12">
    <app-cron-edit></app-cron-edit>
  </div>
  <div class="relative">
    <app-cron-list-view></app-cron-list-view>
  </div>
</div>
