<div class="flex justify-between min-w-full" [class.__disabled]="disabled" [class.__enabled]="enabled">
  <div class="flex justify-items-center justify-center align-items-center"><ng-content select="[left]"></ng-content></div>
  <div class="flex justify-items-center align-items-center"><ng-content select="[right]"></ng-content></div>
</div>
