<ion-list>
  <ion-radio-group [formControl]="formControl">
    <ion-list-header>
      <ion-label>{{ title }}</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let option of options">
      <ion-label>{{ option }}</ion-label>
      <ion-radio mode="ios" slot="start" [value]="option"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
