<div class="corner-element">
  <app-help [modalOptions]="helpOptions"></app-help>
</div>
<div class="text-2xl flex justify-center py-8">New Schedule</div>
<app-tabs [types]="cronPostTypes" [type]="cronPostType$ | async" (typeClick)="onCronPostTypeChange($event)" [allEnabled]="false">
</app-tabs>
<app-cron-form
  class="has-margin-right-lg"
  [image]="image | async"
  [form]="form"
  [cronPostType]="cronPostType$ | async"
  (submitEvent)="onSubmit()"
  (imageSearch)="onImageSearch($event)"
  (imageUploadSelect)="onImageUploadSelect($event)"
  (imageClear)="onImageClear()"
  (imageUrlInput)="onImageUrlInput($event)"
></app-cron-form>
