<div class="flex flex-col w-64 justify-between items-stretch min-h-full bg-opacity-75 rounded-xl shadow-xl p-4 items-centers">
  <dt class="menu">
    <dl class="mb-12 p-8 pb-0">
      <app-logo [collection]="collection"></app-logo>
    </dl>
    <dl *ngFor="let menuItem of menu" [routerLink]="menuItem.link">
      <app-menu-list-item
        *ngIf="collection"
        (click)="toggleClick.emit()"
        [menuItem]="menuItem"
        [disabled]="disabled"
        [active]="menuItem.link === activeMenuItemUrl"
      ></app-menu-list-item>
    </dl>
  </dt>

  <app-logout-button (click)="logoutClick.emit()"></app-logout-button>
</div>
