<div *ngFor="let upcomingCron of upcomingCronList; let last = last" [class.has-margin-bottom-md]="!last">
  <app-media-card [title]="upcomingCron.content" [source]="upcomingCron.imageUrl" [subtitle]="upcomingCron.postOn | date"> </app-media-card>
</div>
