<div class="corner-element">
  <app-help [modalOptions]="helpOptions"></app-help>
</div>
<div class="flex justify-center text-2xl my-8">
  Social Units
</div>
<app-social-unit-list
  [collectionSocialUnitList]="collectionSocialUnitList$ | async"
  [socialUnitSocialNetworkType]="socialUnitSocialNetworkType$ | async"
  (socialUnitTypeSwitch)="onSocialNetworkTypeSwitch($event)"
  (socialUnitEnabledSwitch)="onSocialUnitEnabledSwitch($event)"
></app-social-unit-list>
