<label *ngIf="placeholder" class="is-primary has-text-md has-margin-bottom-sm mt-4 mb-2">{{ placeholder }}</label>
<input
  class="min-w-full p-2 border shadow-lg h-12 rounded-lg"
  [class.mb-4]="!control.control.invalid"
  #input
  [type]="type"
  [autocomplete]="autocomplete"
  [formControl]="control?.control"
/>

<span class="mb-4 text-xs text-red-900" *ngIf="control.control.invalid">{{ error }}</span>
