<ion-item class="mb-4 rounded-xl shadow-xl h-12">
  <ion-label>Scheduling time</ion-label>
  <ion-datetime displayFormat="MMMM DD HH:mm" [formControl]="control.control" [min]="minDate.toISOString()" [max]="maxDate"></ion-datetime>
</ion-item>
<div>
  <app-plus-minus-button text="10 MIN" (plus)="updateDate(600000)" (minus)="updateDate(-600000)"></app-plus-minus-button>
</div>
<div>
  <app-plus-minus-button text="HOUR" (plus)="updateDate(3600000)" (minus)="updateDate(-3600000)"></app-plus-minus-button>
</div>
<div class="mb-4">
  <app-plus-minus-button text="DAY" (plus)="updateDate(86400000)" (minus)="updateDate(-86400000)"></app-plus-minus-button>
</div>
