<div
  appDragDrop
  (fileDrop)="handleFileUpload({ files: [$event.item(0)] })"
  class="relative w-full h-36 bg-white mb-4 rounded-xl shadow-xl flex flex-col justify-center items-center"
>
  <input #imageUpload class="absolute h-36 w-full opacity-0" type="file" (change)="handleFileUpload($event.target)" accept="image/*" />
  <div class="text-center">Image Select - click or drag and drop</div>
</div>
