@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
$font-family: 'Raleway', sans-serif;
* {
  font-family: $font-family;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.break-all {
  word-break: break-all;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-family: $font-family;
  font-size: 16px;
}
