/* Set variables for all modes */
:root {
  // --ion-color-primary: var(color-accent);
  /* Set the background of the entire app */
  --ion-text-color: black;

  // progress bar overrides
  ion-progress-bar {
    --progress-background: #fe6194;
  }
  // ionic icon override
  ion-icon {
    font-size: 2rem;
  }

  ion-checkbox {
    --background: white;
    --background-checked: black;
    --border-color: black;
    --border-color-checked: transparent;
    --transition: 0.25s;
  }

  ion-modal {
    --max-width: 100%;
    --max-height: 100%;
  }
}

.image-modal-container .modal-wrapper {
  height: 80% !important;
  width: 80% !important;
  overflow-y: scroll;
}

.email-modal-container .modal-wrapper {
  overflow-y: scroll;
}
