<app-registration-form [form]="form" (registration)="registration()"></app-registration-form>
<div class="flex justify-center items-center">
  <span class="mr-2">Already have account?</span><a class="is-accent is-clickable" (click)="onGoToLoginClick()">Sign In Now</a>
</div>
<div class="flex justify-center">
  <a class="is-accent is-clickable" (click)="onPrivacyPolicyClick()">Privacy Policy</a>
</div>
