<!-- <div id="global-progress-bar fixed top-0 left-0 right-0">
  <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
</div> -->
<router-outlet></router-outlet>
<div class="fixed bottom-0 right-0">
  <app-support-chat [email]="(user$ | async)?.username"></app-support-chat>
</div>
