<div class="flex flex-col mb-4">
  <label class="is-primary mb-2">{{ placeholder }}</label>
  <textarea
    class="rounded-xl shadow-xl p-2"
    cdkTextareaAutosize
    cdkAutosizeMinRows="3"
    cdkAutosizeMaxRows="8"
    #autosize="cdkTextareaAutosize"
    #input
    [formControl]="control?.control"
  ></textarea>
  <span class="mb-4 text-xs text-red-90" *ngIf="control.control.invalid">{{ error }}</span>
</div>
