<app-tabs
  [types]="statisticsCategories"
  [type]="statisticsCategory"
  [allEnabled]="false"
  (typeClick)="onStatisticsCategorySwitch($event)"
></app-tabs>
<div class="grid is-primary has-text-bold has-text-md">
  <div class="flex flex-col items-stretch justify-center has-padding-md has-border-bottom">
    <ng-container [ngSwitch]="statisticsCategory">
      <ng-container *ngSwitchCase="'actions'">
        <app-statistics-metrics [metrics]="statistics.pagesTotalActions"></app-statistics-metrics>
      </ng-container>
      <ng-container *ngSwitchCase="'engaged users'">
        <app-statistics-metrics [metrics]="statistics.pagesEngagedUsers"></app-statistics-metrics>
      </ng-container>
      <ng-container *ngSwitchCase="'impressions'">
        <app-statistics-metrics [metrics]="statistics.pagesImpressions"></app-statistics-metrics>
      </ng-container>
      <ng-container *ngSwitchCase="'location'">
        <app-fans-locations [fansLocationList]="statistics.pagesFansLocationList"></app-fans-locations>
      </ng-container>
      <ng-container *ngSwitchCase="'reactions'">
        <app-statistics-metrics [metrics]="statistics.pagesReactions"></app-statistics-metrics>
      </ng-container>
    </ng-container>
  </div>
</div>
