<a
  class="flex items-center h-12 mb-4 bg-white p-2 rounded-xl shadow-xl border-gray-900"
  [class.border-b-8]="active"
  [ngClass]="disabled ? 'is-clickable' : 'is-disabled'"
>
  <div class="mr-2" *ngIf="menuItem.icon">
    <app-icon [icon]="menuItem.icon"></app-icon>
  </div>
  <div class="is-primary">
    {{ menuItem.displayName }}
  </div>
</a>
