<div
  *ngFor="let socialNetwork of socialNetworkList"
  class="flex items-center has-margin-bottom-sm bg-white h-12 rounded-xl shadow-xl mb-4 p-2"
>
  <div class="mr-2">
    <app-icon [icon]="socialNetwork.type"></app-icon>
  </div>
  <span>{{ socialNetwork.name }}</span>
</div>

<app-select label="ADD ACCOUNT" [options]="addSocialNetworkProvidersList" (valueChanges)="onSocialNetworkSelect($event)"></app-select>
