<div
  class="flex justify-center items-center overflow-hidden min-w-screen min-h-screen"
  style="
    background-image: url('https://picsum.photos/1000');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="max-w-sm m-4 p-8 bg-white bg-opacity-75 rounded-xl shadow-xl">
    <div class="mb-8 mx-12">
      <app-image source="assets/logo.png"></app-image>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
