<div class="flex flex-col">
  <div class="mb-4">
    <app-login-form [form]="form" (login)="login()" (socialLogin)="socialLogin($event)"></app-login-form>
  </div>
  <div class="flex justify-center items-center">
    <span class="mr-2">Don't have account?</span><a class="is-accent is-clickable" (click)="onGoToRegistrationClick()">Registration</a>
  </div>
</div>
