<div class="corner-element __sticky text-right">
  <app-icon icon="close" (click)="onCloseClick()"></app-icon>
</div>
<div class="flex justify-center text-2xl mb-8">
  Select Image
</div>
<div class="grid grid-cols-1 md:grid-cols-2 justify-center auto-rows-max lg:grid-cols-3 gap-4 px-4">
  <app-image
    *ngFor="let image of imageSelectModalOptions.images"
    size="auto"
    [filled]="true"
    [source]="image.thumbnailImageUrl"
    (click)="onImageSelect(image)"
  ></app-image>
</div>
