<div class="corner-element">
  <app-help [modalOptions]="helpOptions"></app-help>
</div>
<div class="flex justify-center text-2xl my-8">
  Social Accounts
</div>
<div class="has-padding-md">
  <app-social-network-list [socialNetworkList]="socialNetworkList$ | async" (authorizeSocialNetwork)="authorizeSocialNetwork($event)">
  </app-social-network-list>
</div>
