<div class="dropdown">
  <div class="has-margin-bottom-sm">
    <ng-content select="[trigger]"></ng-content>
  </div>
  <div class="card has-padding-sm has-background-secondary dropdown-content is-rounded-sm">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
