<div class="flex flex-col" *ngIf="!image; else selectedImage">
  <ng-container [ngSwitch]="form.get('imageProvider').value">
    <ng-container *ngSwitchCase="imageProvider.IMAGE_UPLOAD">
      <app-image-upload ngDefaultControl (imageUploadSelect)="imageUploadSelect.emit($event)"></app-image-upload>
    </ng-container>
    <ng-container *ngSwitchCase="imageProvider.IMAGE_URL">
      <app-input ngDefaultControl [formControl]="form.get('imageUrl')" placeholder="Image source url"></app-input>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="has-text-md is-primary has-margin-bottom-md">Search for image</div>
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onImageSearch()">
        <div class="flex flex-col">
          <app-input ngDefaultControl [formControl]="form.get('query')"></app-input>
          <app-button text="SEARCH" type="submit"></app-button>
        </div>
      </form>
    </ng-container>
  </ng-container>
  <app-select ngDefaultControl label="Image source" [formControl]="form.get('imageProvider')" [options]="imageSearchProviders"></app-select>
</div>
<ng-template #selectedImage>
  <div *ngIf="image" class="relative flex justify-center items-center mb-4">
    <div class="corner-element">
      <app-icon icon="close" (click)="onImageClear()"></app-icon>
    </div>
    <app-image [source]="image.thumbnailImageUrl" size="rectangle-256"></app-image>
  </div>
</ng-template>
