<div class="bg-red-50 h-full w-full relative">
  <div class="corner-element pr-4 pt-4">
    <app-icon icon="close" (click)="onCloseClick()"></app-icon>
  </div>
  <div class="text-2xl flex justify-center py-4">
    Send email
  </div>
  <form [formGroup]="form" (ngSubmit)="onSendClick()" *ngIf="form" class="flex flex-col px-4">
    <div class="has-margin-bottom-md">
      <app-input ngDefaultControl placeholder="Email" label="Email" [formControl]="form.get('sender')"></app-input>
    </div>
    <div class="has-margin-bottom-md">
      <app-input ngDefaultControl placeholder="Subject" [formControl]="form.get('subject')"></app-input>
    </div>
    <div class="has-margin-bottom-md">
      <app-textarea ngDefaultControl placeholder="Message" [formControl]="form.get('message')"></app-textarea>
    </div>
    <app-button text="SUBMIT" type="submit"></app-button>
  </form>
</div>
