<div class="flex items-center justify-center">
  <app-icon icon="minus" (click)="minus.emit()"></app-icon>
  <span class="w-16 text-center">{{ text }}</span>
  <app-icon icon="plus" (click)="plus.emit()"></app-icon>
</div>
