<div class="flex flex-col md:grid md:grid-cols-3 md:gap-4">
  <div class="relative col-span-1">
    <app-social-network-view></app-social-network-view>
  </div>
  <div class="relative col-span-2">
    <app-social-unit-view></app-social-unit-view>
  </div>
</div>
