<div class="is-primary flex justify-between items-center">
  <div class="flex items-center">
    <div class="has-margin-right-xs">
      <app-icon icon="profile"></app-icon>
    </div>
    <span class="has-text-md has-text-bold">{{ user?.username }}</span>
  </div>
  <!-- <app-icon icon="notifications"></app-icon> -->
</div>
