<div class="flex">
  <div class="flex items-center has-margin-right-sm">
    <app-image [source]="source" [filled]="true"></app-image>
  </div>
  <div class="flex flex-col justify-between">
    <div class="cut-text">
      {{ title }}
    </div>
    <div class="is-grey has-text-sm">
      {{ subtitle }}
    </div>
  </div>
</div>
